body{
  width: 100%;
  height: 100%;
}
#container {
  width: 70%;
  height: 50%;
  position: relative;
  border-width:3px;
  border-style:dashed;
  border-color:#FFAC55;
  padding:5px;
  margin:auto;
  text-align:center;
}
#car{
  width: 100%;
  height: 30%;
}
#animate {
  width: 80%;
  height:150%;
  margin:auto;
  position: relative;
}
#title{
  width:70%;
  height:32%;
  margin:auto;
  margin-bottom:3%;
  text-align: center;
}
#title img{
  width:100%;
  height:100%;
  margin:auto;
  text-align: center;
}
#start{
  cursor:pointer;
  width:20%;
  height:5%;
  text-align: center;
}
#first{
  width:100%;
  height:100%;
  margin:auto;
}
#eight{
  position:absolute;
  cursor:pointer;
  top:5%;
  left:5%;
  z-index:8;
}
.element_picture{
  text-align:center;
  margin:auto;
  top:40%;
  left:40%
}
